body{
  text-align: center;
  font-family: Helvetica;
}

.backgroundimage{
  background-image:url("../images/the-flatiron-building.png");
}

.bgimage{
background-image: url("../images/the-flatiron-building.png");
background-size: auto;
font-size: 23px;
color: white;
}

.footer{
  font-size:11px;
}

.dimgray{
  background-color: dimgray;
  text-align: left;
  color: white;
}

.white{
  color: white;
}

p a {
  font-size: 18px;
  color: white;
}

h1{
  font-size: 70px;
  color: White;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

h1, h2, h3{
  font-weight: bold;
}

p{
  font-size: 14px;
}
